<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block tittle %}{% endblock tittle %}</title>
  <link rel="stylesheet" href="{% static 'crud/css/bootstrap.css' %}">
</head>
<body>
  {% block content %}{% endblock content %}

  <style src="{% static 'crud/js/jquery.js' %}"></style>
  <style src="{% static 'crud/js/popper.js' %}"></style>
  <style src="{% static 'crud/js/bootstrap.js' %}"></style>
</body>
</html>